.workspace-container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.sidebar-link {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.sidebar-link:hover {
  background-color: #ddd;
}

.icon {
  margin-right: 10px;
}

.content {
  margin-left: 220px; /* Ajusta esto según el ancho de la barra lateral */
  padding: 20px;
  flex: 1;
}
